@charset "utf-8";
/* CSS Document */
body
{

	
}

div#head
{
	/*w:976 h:280*/
	width: 100%;
	height: 200px;
	margin-top: 20px;
/* 	border: solid 1px; */
	border-color: blue;
}
div#head-logo
{
	/*w:130 h:110*/
	width: 140px;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -25px;
	/* border: solid 1px; */
	border-color: black;
}

div#head-logo>a
{
	font-weight: bold;
	color: #4486F7;
}
div#head-logo>a>img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	width: 75%;
	height: 75%;
}

#formbox
{
	left: 192px;
	margin-left: auto;
	margin-right: auto;
	height: 704px;
	width: 923px;
	border: #0086D1 solid 2px;
	border-radius: 10px;
	
}

.backperson
{
    width:100%; 
	height:10%; 
	background-color:#0086D1;
}
.title_input
{
	
	height:30px;
	width:600px;
	border: solid #E3E3E3 2px;
	border-radius:5px;
}
.content_input
{
	
	height:300px;
	width:600px;
	border: solid #E3E3E3 1px;
	border-radius:5px;
}
.select
{
	padding:0 5px;
	height:38px;
	font-size:12px;
	border:1px #1DA7FF solid;
	vertical-align:middle; 
	appearance: button;
	-webkit-appearance:button;
}
.ulColumn
{
	overflow:hidden;
	list-style:none;
}

.ulColumn li
{
	margin:15px 0;
}

.ulColumn li .item_name
{
	text-align:right;
	display:inline-block;
}

button,input,select
{
	font-family:inherit;
	font-size:inherit;
	line-height:inherit;
}

.uploadimg
{
	display:inline-block;
	padding:15px;
	background:#E6E9D9;
	position:relative;
	border:1px #008CFF solid;
}
.uploadimg input
{
	display:none;
}
.uploadimg span
{
	display:block;
	font-size:18px;
	text-align:center;
	color:#008CDB;
}
.uploadimg span:hover
{
	color:#A7315D;
}

.link_btn
{
	border:1px #139667 solid;
	background:#19a97b;
	color:white;
	padding:8px 15px;
	display:inline-block;
	cursor:pointer;
}

.link_btn:hover
{
	background:#11a274;
	border:1px #0e8f61 solid;
}

span
{
	font-size:18px;
	font:bold;
}
